.headbanner {
    position: relative;
    width: 100%;
    
}

.banner {

    width: 1300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
}

/*.head {
    color: rgb(27, 10, 65);
    text-align: center;
    font-style: bold;
    font-size: 24px;
}*/

@media (max-width: 1208px) {
    .banner {
      float: none;
      margin: 5%;
      width: 750px;
      height: 350px;
      
      justify-content: center;
      align-items: center;
    }
  }


@media (max-width: 658px) {
    .banner {
      float: none;
      width: 450px;
      height: 200px;
      
      justify-content: center;
      align-items: center;
      
    }
  }