* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}

.navbar {
  background-color: #fff !important;
}

.logo img{
  width: 1300px;
}

.user img{
  width: 40px;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
 #mobileview
 {
   display: none;
 }
}

